.root {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    gap: 1rem;
}

.root h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.textarea {
    height: fit-content;
    font-size: 14px;
    padding: 0.3em 0.8em;
    border-radius: var(--radius-small);
}
