:root {
    --layot: #dae7f1;
    --modal-default: #116d5f;
    --modal-alternative: #431e3a;
    --overlay: rgba(0, 0, 0, 0.3);
    --close-btn: #FFF;
    --radius-small: 4px;
    --radius-medium: 10px;
    --btn-default: grey;
    --btn-default-hover: #9f9696;
    --btn-alternative: orangered;
    --btn-alternative-hover: #cf501f;
    --border-clr: grey;
}
